@import url('https://fonts.googleapis.com/css2?family=Abel&family=Oxygen&family=Signika&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    height: 60px;
    background-color: rgb(175, 129, 175);
    display: flex;
    align-items: center;
    font-size: larger;
    font-family: 'Oxygen', sans-serif;
}

nav ul{
    list-style-type:none; 
    margin:0 10px;
}

.container{
    display: flex;

    margin: 70px 0;
    justify-content: center;
 
    
}

.boxContainer{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    justify-content: center;
    position: relative;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
}

.box:hover{
    background-color: rgb(188, 237, 221);
}
.boxText{
    font-family: 'Abel', sans-serif;
    font-size: 70px;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}

.gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 50px;
    font-size: 25px;
    
}

.gameInfo div{
    font-family: 'Oxygen', sans-serif;
    padding: 20px;
    font-weight: bold;
}

.gameInfo h1{
    font-family: 'Signika', sans-serif;

}


.gameInfo img{
    width: 0px;
    margin:50px 50px 0 0;
    transition: width 0.5s ease-in-out;
}

#reset{
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#reset:hover{
    background-color: rgb(220, 165, 234);
}
@media screen and (max-width:940px) 
{
  .container{
    flex-direction:column;
    margin-top: 50px;
    
  }
  .boxText{
  
    font-size: 40px;
    
  }
  .gameInfo{
    margin-top: 30px;
    font-size: 15px;
  }

    
}